doctype html
html
  head
    title Tirth Dance Academy 
    block scripts
    block style
  body
    nav#navbar
        ul 
            div#logo 
                img(src="/static/2.png")
                | TDA 
            li #[a(href="/")  Home]
            li #[a(href="/about")  About] 
            li #[a(href="/services")  Services] 
            li #[a(href="/classinfo")  Class Info] 
            li #[a(href="/contact")  Contact Us]
    block content 
    footer#footer 
        | Copyright © 2021 TirthDanceAcademy.com | All rights reserved 